.search-form {
  width: 100%;
  background-color: #3f56b3;
  text-align: center;
  padding: calc(var(--btn-width) / 2);
  position: fixed;
  top: 0;
  z-index: 5;

  & input {
    border-radius: var(--input-radius);
    border: var(--border) solid #a2c8fb;
    height: calc(var(--btn-width) + var(--border) * 2);
    font-size: 20px;
    width: calc(var(--input-width));
    color: #1c1c26;
    padding: 0 10px;
    vertical-align: middle;
    z-index: 10;

    @media (max-width: 480px) {
      width: 80%;
      font-size: 14px;
    }
  }

  & button {
    border-radius: 0 var(--input-radius) var(--input-radius) 0;
    z-index: 20;
    margin-left: calc(-1 * var(--btn-width) - var(--border) - 5px);
    width: var(--btn-width);
    height: var(--btn-width);
    border: 1px solid transparent;
    background-color: #f0f0f0;
    background-image: url(../images/search.svg);
    color: black;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: calc(var(--btn-width) / 2);
    background-position: center;
  }
}
